
<% if @employee.reset_token == params[:reset] %>

	<%= form_with(model: @employee, local: true) do |form| %>
	  <% if @employee.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this @employee from being saved:</h2>

	      <ul>
	      <% @employee.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= form.label :password %>
	    <%= form.text_field :password, id: :employee_password %>
	  </div>

	  <div class="field">
	    <%#= form.label :reset_token %>
	    <%= form.hidden_field :reset_token,:value=>generate_unique_token, id: :employee_reset_token %>

	  </div>

	<!--   <div class="field">
	    <%#= form.label :reset_link %>
	    <%#= form.text_field :reset_link, id: :employee_reset_link %>
	  </div> --> 
	  <div class="actions">
	    <%= form.submit %>
	  </div>
	<% end %>
<% else %>
   <p>oops ! sorry your reset password link is already used or invalid!</p>
<% end %>
